.Hangman {
  color: whitesmoke;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0.5rem 0 2rem;
}

.Hangman .img-container {
  width: 16%;
  float: left;
  margin-left: 5rem;
}

.Hangman-content {
  width: 80%;
  float: left;
  margin-left: -5rem;
}

.Hangman-content p:first-of-type {
  font-size: 1.4rem;
}

.Hangman-word {
  letter-spacing: 2rem;
  margin: 0.4em -1em 0 0;
  font-size: 2.8rem;
}

.big-size {
  font-size: 3.5rem;
  color: #fce728;
}

.Hangman-status {
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.Hangman-reset {
  display: block;
  border: 2px solid maroon;
  outline: none;
  width: 8rem;
  height: 1.7rem;
  font-family: inherit;
  color: whitesmoke;
  background-color: #080808;
  border-radius: 13px;
  margin: 0 auto 1rem;
}

.Hangman-reset:hover {
  cursor: pointer;
  background-color: #177b3d;
  font-weight: bold;
  color: black;
}
