.Hangman {
  color: black;

}

.Hangman .img-container {
  width: 30%;
  float: left;
}

.Hangman-content {
  width: 70%;
  float: left;
}

.Hangman-content p:first-of-type {
  font-size: 1.5rem;
}

.Hangman img {
  border: 3px solid black;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0 0;
  font-size: 2.5rem;
}

.Hangman-status {
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.Hangman-reset {
  display: block;
  width: 7rem;
  height: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  color: whitesmoke;
  background-color: black;
  border-radius: 4px;
  margin: auto;
}

.Hangman-reset:hover {
  cursor: pointer;
  background-color: #0d3532;
}