@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background: url("./images/schoolboard.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "KGTenThousandReasons", cursive;
}

@font-face {
  font-family: "KGTenThousandReasons";
  src: url(./fonts/KGTenThousandReasons.ttf);
}
